pytket==1.1.0
pyzx>=0.7.0
sympy==1.9
tensorflow
tensornetwork
jax
jaxlib
torch
autoray==0.6.0 # avoid PennyLane bug until fix for autoray 0.6.1 is released
pennylane
pennylane-qiskit
pennylane-honeywell
