language: python
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
install:
  - pip install ".[test]" . # install package + test dependencies
script: pytest --with-doctest # run tests
after_success:
  - codecov # submit coverage
