name: build

on: [push, pull_request]

env:
  SRC_DIR: discopy
  TEST_DIR: test
  DOCS_DIR: docs

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.9 ]
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install linter
      run:
        python -m pip install pycodestyle coverage pylint
    - name: Check for errors
      run:
        # stop the build if there are Python syntax errors or undefined names
        pycodestyle discopy
    - name: pylint
      run:
        pylint discopy
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.9 ]
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install base package
      run: python -m pip install .[test]
    - name: Install coverage and pytest
      run:
        python -m pip install coverage pytest
    - name: Test with pytest
      run:
        coverage run --source=${{ env.SRC_DIR }} -m pytest ${{ env.SRC_DIR }} ${{ env.TEST_DIR }} --doctest-modules
    - name: Coverage report
      run:
        coverage report --fail-under=99 --show-missing
    - name: Install nbmake and test notebooks
      run: |
        python -m pip install nbmake
        pytest --nbmake ${{ env.DOCS_DIR }}/notebooks/*.ipynb
